    $primary-color: #131520;
    $accent-color: #69F67F;
    $accent-color2: #F6DA24;
    $hover-color: #9ef8ac;
    $text-color: #ffffff;
    $secondary-color: #3E4468;

    $color-light: #939ABF;
    $color-medium: #5e689e;

    $color-faq-bg: #333856;
    $color-faq-spoiler: #282d44;

    $info-text: #c9ccdf;
    $info-title: #edeef4;

    $review-color1:  #191919;
    $review-color2:  #6a6a67;

    $primary-font: "Montserrat", serif;